---
import BGGradient from "../BGGradient.astro"
import Container from "../Container.astro"

---

<div class="relative" id="home">
    <BGGradient />
    <Container>
        <div class="relative pt-32 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <div class="w-72 h-32 inset-0 bg-[url('/images/summit_logo_dark.png')] dark:bg-[url('/images/summit_logo.png')] bg-contain bg-center bg-no-repeat mx-auto z-0"></div> 
              <p class="mt-8 text-gray-700 dark:text-gray-300 text-base font-mono">April 27<sup class="lowercase">th</sup> 2024</p>
              <p class="text-gray-700 dark:text-gray-300 text-base font-mono">University of Kelaniya, Sri lanka</p>
                <h1 class="mt-8 text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Biggest Dev Summit at <span class="text-primary dark:text-white">University of Kelaniya</span></h1>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="/summit/register"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-lg font-semibold text-white"
                        >Get Free Tickets</span
                      >
                    </a>
                    <a
                      href="#speakers"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Speakers</span
                      >
                    </a>
                    <a
                      href="/summit/sponsorships"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Sponsorship Oppotunity</span
                      >
                    </a>
                </div>
                <div class="mt-8 sm:mt-12 font-mono">
                  <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
                    <div
                      class="flex group flex-col rounded-lg border border-gray-100 px-4 py-8 text-center dark:border-gray-800"
                    >
                      <dt class="order-last text-lg font-medium text-gray-600 dark:text-gray-300">
                        Speakers
                      </dt>
            
                      <dd class="text-4xl font-extrabold text-gray-800 dark:text-gray-100 md:text-5xl">10+</dd>
                    </div>
            
                    <div
                      class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center dark:border-gray-800"
                    >
                      <dt class="order-last text-lg font-medium text-gray-500 dark:text-gray-300">
                        Workshops
                      </dt>
            
                      <dd class="text-4xl font-extrabold text-gray-800 dark:text-gray-100 md:text-5xl">5</dd>
                    </div>
            
                    <div
                      class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center dark:border-gray-800"
                    >
                      <dt class="order-last text-lg font-medium text-gray-500 dark:text-gray-300">
                        Days
                      </dt>
            
                      <dd class="text-4xl font-extrabold text-gray-800 dark:text-gray-100 md:text-5xl">6</dd>
                    </div>
                  </dl>
                </div>
            </div>
        </div>
    </Container>
</div>