---
import Container from "../Container.astro";

---

<div id="Tracks">
    <Container>
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="./images/tracks.png"
            alt="Image by pikisuperstar on Freepik"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <div class="mt-6 m-auto space-y-6">
            <h1 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
              Tracks
            </h1>
            <p class="text-xl text-justify text-gray-600 dark:text-gray-300">
              From beginner-friendly sessions to advanced workshops, there's something for everyone. Explore cutting-edge topics such as artificial intelligence, blockchain, cloud computing, cybersecurity, and more. Join us at Summit Tracks to learn from industry experts, network with like-minded professionals, and stay ahead in the ever-evolving tech landscape.
            </p>
          </div>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 50 50" fill="currentColor" class="w-6 h-6 m-auto text-green-700 dark:text-green-700">
                  <path d="M 17.226563 46.582031 C 17.105469 46.582031 16.984375 46.5625 16.871094 46.519531 C 7.976563 43.15625 2 34.507813 2 25 C 2 12.316406 12.316406 2 25 2 C 37.683594 2 48 12.316406 48 25 C 48 34.507813 42.023438 43.15625 33.128906 46.519531 C 32.882813 46.613281 32.605469 46.605469 32.363281 46.492188 C 32.121094 46.386719 31.933594 46.183594 31.839844 45.9375 L 26.890625 32.828125 C 26.695313 32.3125 26.953125 31.734375 27.472656 31.539063 C 30.179688 30.519531 32 27.890625 32 25 C 32 21.140625 28.859375 18 25 18 C 21.140625 18 18 21.140625 18 25 C 18 27.890625 19.820313 30.519531 22.527344 31.539063 C 23.046875 31.734375 23.304688 32.3125 23.109375 32.828125 L 18.160156 45.933594 C 18.066406 46.183594 17.878906 46.382813 17.636719 46.492188 C 17.507813 46.554688 17.367188 46.582031 17.226563 46.582031 Z"></path>
                  </svg>       
              </div>
              <div class="w-5/6">
                <h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Free and Open-Source Software</h3>
                <p class="text-gray-500 dark:text-gray-400">
                  Learn how to contribute to open-source projects and build your own.
                </p>
                </p>
              </div> 
          </div>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                <svg width="50px" height="50px" viewBox="-10 -10 44 44" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                  <style>.cls-1{fill:#aecbfa;}.cls-1,.cls-2,.cls-3{fill-rule:evenodd;}.cls-2{fill:#669df6;}.cls-3{fill:#4285f4;}</style>
                  </defs>
                  <g data-name="Product Icons">
                  <polygon id="Fill-1" class="cls-1" points="6.67 3 2 5.76 2 18.24 6.67 21 6.67 18.6 4 17.02 4 6.98 6.67 5.4 6.67 3"/>
                  <polygon id="Fill-2" class="cls-1" points="9.33 9.14 12 10.71 14.67 9.14 14.67 5.98 12 4.41 9.33 5.98 9.33 9.14"/>
                  <polygon id="Fill-3" class="cls-2" points="9.33 5.98 9.33 9.14 12 10.71 14.67 9.14 14.67 5.98 12 7.56 9.33 5.98"/>
                  <polygon id="Fill-4" class="cls-3" points="12 10.71 14.67 9.14 14.67 5.98 12 7.56 12 10.71"/>
                  <polygon id="Fill-5" class="cls-1" points="12.67 15.63 15.33 17.2 18 15.63 18 12.47 15.33 10.89 12.67 12.47 12.67 15.63"/>
                  <polygon id="Fill-6" class="cls-2" points="12.67 12.47 12.67 15.63 15.33 17.2 18 15.63 18 12.47 15.33 14.05 12.67 12.47"/>
                  <polygon id="Fill-7" class="cls-3" points="15.33 17.2 18 15.63 18 12.47 15.33 14.05 15.33 17.2"/>
                  <polygon id="Fill-8" class="cls-1" points="6 15.63 8.67 17.2 11.33 15.63 11.33 12.47 8.67 10.89 6 12.47 6 15.63"/>
                  <polygon id="Fill-9" class="cls-2" points="6 12.47 6 15.63 8.67 17.2 11.33 15.63 11.33 12.47 8.67 14.05 6 12.47"/>
                  <polygon id="Fill-10" class="cls-3" points="8.67 17.2 11.33 15.63 11.33 12.47 8.67 14.05 8.67 17.2"/>
                  <polygon id="Fill-11" class="cls-2" points="2 8.17 2 15.84 4 17.02 4 6.98 2 8.17"/>
                  <polygon id="Fill-12" class="cls-3" points="2 8.17 4 7.71 4 6.98 2 8.17"/>
                  <polygon id="Fill-13" class="cls-3" points="4 17.02 4 16.44 2 15.84 4 17.02"/>
                  <polygon id="Fill-14" class="cls-1" points="17.33 3 17.33 5.4 20 6.98 20 17.02 17.33 18.6 17.33 21 22 18.24 22 5.76 17.33 3"/>
                  <polygon id="Fill-15" class="cls-2" points="20 17.02 22 15.84 22 8.17 20 6.98 20 17.02"/>
                  <polygon id="Fill-16" class="cls-3" points="20 7.71 22 8.17 20 6.98 20 7.71"/>
                  <polygon id="Fill-17" class="cls-3" points="20 16.44 20 17.02 22 15.84 20 16.44"/>
                  </g>
                  </g>
                  </svg>      
              </div>
              <div class="w-5/6">
                <h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Cloud-Native Development</h3>
                <p class="text-gray-500 dark:text-gray-400">
                  Learn how to build and deploy cloud-native applications using Kubernetes, Docker, and more.
                </p>
                </p>
              </div> 
          </div>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                <svg width="50px" height="50px" viewBox="-12 -12 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 5C22 6.65685 20.6569 8 19 8C17.3431 8 16 6.65685 16 5C16 3.34315 17.3431 2 19 2C20.6569 2 22 3.34315 22 5Z" class="fill-cyan-500"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.612 2.03826C14.59 2 13.3988 2 12 2C7.28595 2 4.92893 2 3.46447 3.46447C2 4.92893 2 7.28595 2 12C2 16.714 2 19.0711 3.46447 20.5355C4.92893 22 7.28595 22 12 22C16.714 22 19.0711 22 20.5355 20.5355C22 19.0711 22 16.714 22 12C22 10.6012 22 9.41 21.9617 8.38802C21.1703 9.08042 20.1342 9.5 19 9.5C16.5147 9.5 14.5 7.48528 14.5 5C14.5 3.86584 14.9196 2.82967 15.612 2.03826ZM17.4801 9.42383C17.7983 9.68901 17.8413 10.1619 17.5762 10.4801L15.7473 12.6748C15.4189 13.069 15.1228 13.4244 14.8462 13.6742C14.5452 13.9459 14.1662 14.188 13.6667 14.188C13.1672 14.188 12.7881 13.9459 12.4872 13.6742C12.2106 13.4244 11.9145 13.069 11.586 12.6748L11.2936 12.3239C10.9228 11.8789 10.6951 11.6085 10.5075 11.4391C10.4205 11.3606 10.3689 11.3292 10.3442 11.3173C10.3392 11.3148 10.3356 11.3134 10.3333 11.3125L10.3292 11.3142L10.3225 11.3173C10.2977 11.3292 10.2461 11.3606 10.1591 11.4391C9.97155 11.6085 9.74385 11.8789 9.37306 12.3239L7.57617 14.4801C7.31099 14.7983 6.83807 14.8413 6.51986 14.5762C6.20165 14.311 6.15866 13.8381 6.42383 13.5199L8.25267 11.3253C8.58113 10.931 8.87725 10.5756 9.15384 10.3258C9.45478 10.0541 9.83384 9.81205 10.3333 9.81205C10.8328 9.81205 11.2119 10.0541 11.5128 10.3258C11.7894 10.5756 12.0855 10.931 12.414 11.3252L12.7064 11.6761C13.0772 12.1211 13.3049 12.3915 13.4925 12.5609C13.5795 12.6394 13.6311 12.6708 13.6558 12.6827L13.659 12.6842C13.6624 12.6858 13.6667 12.6875 13.6667 12.6875C13.6689 12.6866 13.6725 12.6852 13.6775 12.6827C13.7023 12.6708 13.7539 12.6394 13.8409 12.5609C14.0284 12.3915 14.2562 12.1211 14.6269 11.6761L16.4238 9.51986C16.689 9.20165 17.1619 9.15866 17.4801 9.42383Z" class="fill-slate-300"/>
                  </svg>
                  </div>
              <div class="w-5/6">
                <h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Data Science and Machine Learning</h3>
                <p class="text-gray-500 dark:text-gray-400">
                  Learn the inside-out of data science and machine learning from industry experts.
                </p>
              </div>
            </div>
            </div>
            <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
              <div class="mt-8 flex gap-4 md:items-center">
                <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                  <svg width="50px" height="50px" viewBox="-8 -8 32 32" xmlns="http://www.w3.org/2000/svg" class="fill-pink-800">
                    <path d="m 2 0 c -0.550781 0 -1 0.449219 -1 1 v 8 c 0 2.5 1.816406 4.246094 3.445312 5.332031 c 1.628907 1.085938 3.238282 1.617188 3.238282 1.617188 c 0.207031 0.070312 0.425781 0.070312 0.632812 0 c 0 0 1.609375 -0.53125 3.238282 -1.617188 c 1.628906 -1.085937 3.445312 -2.832031 3.445312 -5.332031 v -8 c 0 -0.550781 -0.449219 -1 -1 -1 z m 1 2 h 10 v 7 c 0 1.5 -1.183594 2.753906 -2.554688 3.667969 c -1.214843 0.808593 -2.179687 1.128906 -2.445312 1.226562 c -0.265625 -0.097656 -1.230469 -0.417969 -2.445312 -1.226562 c -1.371094 -0.914063 -2.554688 -2.167969 -2.554688 -3.667969 z m 1 1 v 6 c 0 1 0.867188 2.007812 2.109375 2.835938 c 0.933594 0.621093 1.472656 0.785156 1.890625 0.949218 c 0.417969 -0.164062 0.957031 -0.328125 1.890625 -0.949218 c 1.242187 -0.828126 2.109375 -1.835938 2.109375 -2.835938 v -6 z m 0 0"/>
                  </svg>
                    </div>
                <div class="w-5/6">
                  <h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Secure Software Development</h3>
                  <p class="text-gray-500 dark:text-gray-400">
                    Learn how to build secure software and protect your applications from security threats.
                  </p>
                </div>
              </div>
              </div>
        </div>
      </div>
    </Container>
</div>
