---
import { Image } from 'astro:assets';
import Container  from '../Container.astro';
import EventPost from '../EventPost.astro';

import { getCollection } from 'astro:content';
const allWorkshops =await getCollection('events');
const summitWorkshops= allWorkshops.filter((workshop) => workshop.data.tags.includes('OSS24'));
---
<div id="speakers">
    <Container>
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
          Pre-Summit Workshop series
        </h1>
        <p class="text-center text-xl text-gray-600 dark:text-gray-300">
          Join us for a series of workshops to learn from the best in the industry.
        </p>
        <div class="flex flex-wrap justify-center gap-6">
          </a>
        </div>
      </div>
        <div class="grid grid-cols-1 gap-8 mt-10">
        {summitWorkshops && summitWorkshops.map((workshop, index) => (
            <EventPost event={{
              title : workshop.data.title,
              description : workshop.data.description,
              image : workshop.data.image,
              date : workshop.data.date,
              speakers : workshop.data.speakers,
              tags : workshop.data.tags,
              time : workshop.data.time
            }}
            url = {"/events/"+workshop.slug}
            hoverAnimation = {true}
            height="h-68"
            />
          ))
        }
    </div>
    
    </Container>
</div>