<!DOCTYPE html>
<html>
<head>
  <title>Open-Source Summit 24 - Register For Free</title>
  <meta name="theme-color" content="#141f31" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" /> 
  <meta name="description" content="Don&#x27;t miss the Open-Source Summit &#x27;24 at the University of Kelaniya!
  Learn how to harness the power of open-source software for innovation." /> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="robots" content="index,follow" /> 
  <meta name="referrer" content="no-referrer-when-downgrade" /> 
  <meta name="twitter:card" content="summary_large_image" /> 
  <meta name="msapplication-TileColor" content="#000000" /> 
  <meta name="msapplication-config" content="https://public-assets.typeform.com/public/favicon/browserconfig.xml" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:url" content="https://fossuok.org/oss24entry" /> 
  <meta property="og:title" content="Open-Source Summit ‘24 - Register For Free" /> 
  <meta property="og:description" content="Don&#x27;t miss the Open-Source Summit &#x27;24 at the University of Kelaniya!
  Learn how to harness the power of open-source software for innovation." /> 
  <meta property="og:image" content="https://images.typeform.com/images/ZciRkDSTkk8S/image/default" /> 
  <link href="https://fossuok.org/oss24entry" rel="canonical" />
  <meta content="ie=edge" http-equiv="x-ua-compatible" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta content="https://public-assets.typeform.com/public/favicon/browserconfig.xml" name="msapplication-config" />
  <link href="https://public-assets.typeform.com/public/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="https://public-assets.typeform.com/public/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
  <link href="https://public-assets.typeform.com/public/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
  <link href="https://public-assets.typeform.com/public/favicon/site.webmanifest" rel="manifest" />
  <link href="https://public-assets.typeform.com/public/favicon/favicon.ico" rel="shortcut icon" />
  <link color="#000000" href="https://public-assets.typeform.com/public/favicon/safari-pinned-tab.svg" rel="mask-icon" />
  <link as="image" href="https://images.typeform.com/images/fGsGjcDS7FBY/background/large" rel="preload" />
</head>
<body>
  <script is:inline>
    window.location.href = "/summit/";
  </script>
</body>
</html>