---
import BGGradient from "./BGGradient.astro";
import Container from "./Container.astro";
---

<div class="relative pt-16">
  <BGGradient />
  <Container>
    <div class="mt-16 m-auto space-y-6 md:w-8/12 lg:w-7/12 text-center">
      <h1
        class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl"
      >
        FOSS Community - University of Kelaniya
      </h1>
      
      <p class="text-xl text-gray-600 dark:text-gray-300">
        We are a community of students who are passionate about Free and Open
        Source Software. We are dedicated to promoting the use of FOSS and
        contributing to the FOSS community.
      </p>
      <div data-tf-live="01HTWWYZZ18JGYBDDRRXN42505"></div><script
        is:inline
        src="//embed.typeform.com/next/embed.js"></script>
    </div>
  </Container>
</div>
