---
import BGGradient from "./BGGradient.astro"
import Container from "./Container.astro"

---

<div class="relative" id="blog">
  <BGGradient />
  <Container>
      <div class="relative pt-32 flex flex-col justify-center h-full text-center">
          <h1 class="mt-8 text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Discover Our Latest Articles</h1>
          <p class="mt-8 text-lg text-gray-700 dark:text-gray-300">Stay ahead of the curve with our freshest insights and updates. Dive into our newest article to uncover what's trending in the tech world.</p>
      </div>
  </Container>
</div>

