---
import BGGradient from "./BGGradient.astro"
import Container from "./Container.astro"

---

<div class="relative py-16">
  <BGGradient />
  <Container>
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
          Empower Your Ideas with Open-Source!
        </h1>
        <p class="text-center text-xl text-gray-600 dark:text-gray-300">
          Ready to dive into open-source innovation? Join FOSS UoK this term and connect with trailblazers in tech. Learn, build, and lead with a community driven by collaboration and creativity!
        </p>
        <div class="flex flex-wrap justify-center gap-6">
          <a
              href="https://forms.gle/2tG9x52LAGrjqofa9"
              class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-base font-semibold text-white dark:text-dark"
                >Sign Up Today</span
              >
            </a>
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>