---
import Container from './Container.astro';
import { Image } from 'astro:assets';
---

<div class="relative" id="Logos">
    <Container>
      <div class="m-auto max-w-4xl aspect-auto p-8 md:p-2 border border-gray-100 rounded-3xl bg-white dark:bg-gray-200 dark:border-gray-200 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 items-center justify-between">
          <div class="p-4 md:p-16 grayscale transition duration-200 hover:grayscale-0 border-r">
            <Image src="/images/logo/uok_logo.png" class="h-max:h-16 h-min:h-12 w-auto mx-auto" loading="eager"
              alt="university logo" width="430" height="144" />
          </div>
          <div class="p-4 md:p-16 grayscale transition duration-200 hover:grayscale-0 border-l">
            <Image src="/images/logo/fosslk_logo.png" class="h-max:h-16 h-min:h-12 w-auto mx-auto" loading="eager"
              alt="fosslk logo" width="430" height="144" />
          </div>
        </div>
      </div>
    </Container>
</div>