---
import Container from "./Container.astro"
import { Image } from "astro:assets"

---

<div class="relative" id="hero">
  <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20 -z-10">
      <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <Container>
      <div class="relative pt-32 flex flex-col justify-center h-full text-center">
          <h1 class="mt-8 text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">
            FOSSUOK Events
          </h1>
          <p class="mt-8 text-lg text-gray-700 dark:text-gray-300">
            Stay updated with the latest events happening in the FOSSUOK community.
          </p>
      </div>
  </Container>
</div>

