---
import BGGradient from "./BGGradient.astro"
import Container from "./Container.astro"
import { Image } from "astro:assets"

---

<div class="relative" id="hero">
  <BGGradient />
  <Container>
      <div class="relative pt-32 flex flex-col justify-center h-full text-center">
          <h1 class="mt-8 text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">
            FOSSUOK Events
          </h1>
          <p class="mt-8 text-lg text-gray-700 dark:text-gray-300">
            Stay updated with the latest events happening in the FOSSUOK community.
          </p>
      </div>
  </Container>
</div>

