---
import BGGradient from "./BGGradient.astro";
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <BGGradient />
    <Container>
        <div class="relative pt-16 ml-auto">
          <section class="flex justify-center items-center bg-customDarkBg1 hero-bg-gradient"
          id="home"
        >
          <div class="w-full md:w-[800px] xl:w-[900px] flex flex-col justify-center items-center pt-16 md:pt-16 lg:pt-20 text-center">
              <div class="text-5xl sm:text-6xl lg:text-7xl xl:text-7xl font-bold tracking-wide text-gray-800 dark:text-white px-8 sm:px-8 md:px-20 lg:px-4">
                <span class="inline md:hidden">FOSS Community</span>
                <span class="hidden md:inline">Embrace the Power of Open-Source and Collaboration</span>
              </div>
              <div class="mt-2 sm:mt-2 text-2xl sm:text-4xl lg:text-3xl xl:text-3xl font-bold tracking-wide text-gray-800 dark:text-white px-8 sm:px-20 md:px-24 lg:px-24">
                at University of Kelaniya
              </div>
              <div class="dark:text-slate-200 text-slate-800 text-sm lg:text-base xl:text-lg sm:text-base mt-10 px-12 sm:px-48 ">
                Join us on our journey to explore, collaborate, and innovate in the world of FOSS!
              </div>
              <div class="flex flex-col gap-4 sm:flex-row mt-14 justify-center">
                <a
                  href="https://forms.gle/2tG9x52LAGrjqofa9"
                  class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                >
                  <span class="relative text-base font-semibold text-white"
                    >Join Now</span
                  >
                </a>
              </div>
          </div>
          </section>
        </div>
    </Container>
</div>