---
import { getCollection } from "astro:content";
import EventPost from "./EventPost.astro";
import Slider from "./Slider.astro";

const allEvents = await getCollection("events");
allEvents.sort((a, b) => b.data.date - a.data.date).slice(0, 5);
---
<Slider
  title="Events"
  subtitle="Stay up to date with our latest events and community meetups. Whether you are looking to learn something new or network with like-minded individuals, we've got you covered."
  button="View all events"
  link="/events">
{
    allEvents.filter(
      (event) => event.data.date < new Date()
    ).map((event) => (
    <div class="keen-slider__slide">
        <EventPost
        fixedHeight=true
        hoverAnimation="false"
        url={"/events/" + event.slug}
        event={{
            title: event.data.title,
            date: event.data.date,
            location: event.data.location,
            description: event.data.description,
            image: event.data.image,
            slug: event.slug,
            tags: event.data.tags,
            time: event.data.time,
            speakers: event.data.speakers,
        }}
        />
    </div>
    ))
  }
</Slider>