---
import Container from './Container.astro'
---
<div id="welcome">
    <Container>
    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
      <div class="mx-auto max-w-full px-4 py-4 sm:px-6 lg:me-0 lg:py-8 lg:pe-0 xl:py-8">
        <div class="mb-2 space-y-2 text-center">
          <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">What is FOSS Community at UOK?</h2>
        </div>
      </div>
      <div class="relative ml-auto">
        <p class="text-gray-800 dark:text-gray-300 mb-4">Imagine a world where code isn't locked away in a vault, but freely shared
          like a potluck of ideas. That's the essence of Open Source Software (FOSS) – a collaborative ecosystem
          where developers work together to build, learn, and innovate, openly sharing their knowledge and
          creations.</p>
        <p class="text-gray-800 dark:text-gray-300"><span class="font-bold">And here at the University of Kelaniya,</span> we're
          building our own FOSS haven – a vibrant community of tech enthusiasts, coding wizards, and curious minds.
          We're passionate about empowering everyone. Whether you're a coding whiz or a curious beginner, there's a
          place for you.
        </p>
      </div>
    </div>
    </Container>
  </div>