---
import Tracks from '../../components/summit/Tracks.astro';
import Speakers from '../../components/summit/Speakers.astro';
import SummitHeroSection from '../../components/summit/HeroSection.astro';
import Layout from '../../layouts/Layout.astro';
import CallToAction from '../../components/CallToAction.astro';
import Workshops from '../../components/summit/Workshop.astro';
import Partners from '../../components/summit/SummitPartners.astro'
import Committee from '../../components/summit/Committee.astro'
---

<Layout title="Open-Source Summit '24 at University of Kelaniya">
	<main class="space-y-16 mb-40">
		<SummitHeroSection/>
		<Partners/>
		<Speakers/>
		<Tracks/>
		<Workshops/>
		<Committee />
	</main>
</Layout>