---
import Tracks from '../../components/summit/Tracks.astro';
import Speakers from '../../components/summit/Speakers.astro';
import SummitHeroSection from '../../components/summit/HeroSection.astro';
import Layout from '../../layouts/Layout.astro';
import CallToAction from '../../components/CallToAction.astro';
import Workshops from '../../components/summit/Workshop.astro';
import Partners from '../../components/summit/SummitPartners.astro'
import Committee from '../../components/summit/Committee.astro'
import Container from '../../components/Container.astro';
import { Image } from 'astro:assets';
import BGGradient from '../../components/BGGradient.astro';

const title = "Open-Source Summit '24 at University of Kelaniya";
const description = "Don't miss the Open-Source Summit '24 at the University of Kelaniya! Learn how to harness the power of open-source software for innovation.";
const OGImage = "https://images.typeform.com/images/ZciRkDSTkk8S/image/default";
---

<Layout title={title} description={description} OGImage={OGImage} >
		<div class="relative" id="home">
			<BGGradient />
			<Container>
				<div class="relative pt-32 ml-auto">
					<div class="lg:w-2/3 text-center mx-auto">
					  <Image src="/images/summit_logo.png" alt="Summit Logo" class="w-72 max-h-full block m-auto" width={64} height={28} loading="eager"/>
					</div>
					<h2 class="text-3xl font-bold text-center my-8 text-gray-800 dark:text-gray-200">Open-Source Summit '24 Registration Form</h2>
					<div data-tf-live="01HV73KYJ5C6KVBZ9AQXJDHYGA">
						<span class="loading-indicator inline-block text-4xl p-8 w-full text-center bg-primary animate-pulse mr-2" aria-hidden="true">
							Please wait while the form is loading...
						</span>
					</div><script is:inline src="//embed.typeform.com/next/embed.js"></script>
				</div>
			</Container>
		</div>
</Layout>