---
import { AstroFont } from 'astro-font';
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import {SEO} from 'astro-seo';
const {title,  description, type="website", OGImage="/images/thumbnail.jpg"} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                title: title,
                type: "website",
                image: OGImage,
                }
            }}
            twitter={{
                creator: "@fossuok",
                site: "@fossuok",
            }}
            extend={{
                link: [{ rel: "icon", href: "/favicon.png" }],
                meta: [
                {
                    name: "twitter:image",
                    content: OGImage,
                },
                { name: "twitter:title", content: title },
                { name: "twitter:description", content: description},
                ],
            }}
        />
        <AstroFont
            config={[
                {
                    src: [],
                    name: "Outfit",
                    preload: true,
                    display: "swap",
                    selector: "html",
                    fallback: "sans-serif",
                    googleFontsURL: 'https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap',
                },
            ]}
        />
    </head>
    <body class="bg-white dark:bg-gray-900 scroll-smooth max-w-full">
        <AppHeader />
        <slot />
        <AppFooter />
    </body>
</html>
<style>
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style>
