---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import EventPost from "../../components/EventPost.astro";
import EventHero from "../../components/EventHero.astro";
import Container from "../../components/Container.astro";

const allEvents = await getCollection("events");
allEvents.sort((a, b) => b.data.date - a.data.date);

const title = "Events | FOSSUOK";
const description = "Stay updated with the latest events happening in the FOSS community at the University of Kelaniya.";
const OGImage = "/images/thumbnail.jpg";
---

<Layout title={title} description={description} OGImage={OGImage} menu="Events">
    <EventHero />
    <Container>
    <section
      class="text-gray-700 dark:text-gray-300"
    >
      <h2 class="text-3xl font-bold mb-6">Upcoming Events</h2>
        <div class="grid grid-cols-1 gap-8">
          {
            allEvents.filter(
              (event) => event.data.date >= new Date()
            ).reverse().map((event) => (
              <EventPost
                url = {"/events/"+workshop.slug}
                hoverAnimation = {true}
                height="h-68"
                event={{
                  title: event.data.title,
                  date: event.data.date,
                  location: event.data.location,
                  description: event.data.description,
                  image: event.data.image,
                  slug: event.slug,
                  tags: event.data.tags,
                  time: event.data.time,
                  speakers: event.data.speakers,
                  register: event.data.registrationLink || null,
                }}
              />
            ))
          }
        </div>
      </section>
    </Container>
    <Container>
      <h2 class="text-3xl font-bold mb-6">Past Events</h2>
        <div class="grid grid-cols-1 gap-8 mt-10">
          {
            allEvents.filter(
              (event) => event.data.date < new Date()
            ).map((event) => (
              <EventPost
                url={"/events/" + event.slug}
                event={{
                  title: event.data.title,
                  date: event.data.date,
                  location: event.data.location,
                  description: event.data.description,
                  image: event.data.image,
                  slug: event.slug,
                  tags: event.data.tags,
                  time: event.data.time,
                  speakers: event.data.speakers,
                }}
              />
            ))
          }
        </div>

    </Container>
</Layout>
